*,*::before,*:after{
    padding: 0px;
    margin: 0px;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: 'Martel', serif;
    font-family: 'Pridi', serif;
    font-family: 'Stardos Stencil', cursive;
    
    
}
body{
    background: url(/images/red-purple-bluee.png);
    background-color: #000000;
}



h1{
    font-family: 'Stardos Stencil', cursive;

}
h2 h3 h4 h5 h6{
    font-family: 'Martel', serif;

}
p{
    font-family: 'Pridi', serif;

}
a{
    font-family: 'Stardos Stencil', cursive;

}

.wrapper{
    border-bottom:none ;
    

}
.container{
    max-width: 1180px;
    margin: 0 auto;
    /*padding: 0 10px;*/
    /*border: 10px solid rgb(0, 0, 0);*/
    

}
.header{
    
    border-top:none;
    position:fixed;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 50;


}
.header:before{
content: "";
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-color: rgb(154 0 224);
    background: rgba(224, 0, 0, 1);
z-index: 2;}
.header-body{
    display: flex;
    position: relative;
    
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header-logo{
    flex:0 0 60px;
    border-radius: 50%;
    overflow: hidden;
    
    position: relative;
    z-index:  3;
    

}
.header-logo img{
    max-width: 100%;
    display: block;


}
.header-burger{
    display: none;
}
.header-menu{}
.header-list{
    display: flex;
    position: relative;
    z-index: 2;

    
}
.header-list li{
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header-link{
    color:#fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
.content{
    padding: 100px 0px 0px 0px;
}
.content-text{
    color: #fff;
    
    font-size: 26px;
    line-height: 40px;
}
.content-text h1{
   
    max-height: 60px;
    font-size: 45px;
    line-height: 50px;
    margin: 150px 0px 40px 0px;
    text-align: center;
}
.content-text p{
    
    margin: 0px 0px 20px 0px;
}

/*FOOOOOOOOOOOOOOOOOOOOOOOOOER*/

   /*BUTTON AND IMG*/
   .floating-button {
    font-family: 'Stardos Stencil', cursive;
    

    align-items: center;
    justify-content: center;
  text-decoration: none;
  display: inline-block;
  width: 500px;
  height: 100px;
  line-height: 100px;
  border-radius: 45px;
  margin: 40px 20px;

  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #000000;
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {

    background: #000000;
    box-shadow: 0 15px 20px rgba(76, 12, 212, 0.4);
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
}
.img{
  width: 40%;
  height: 65%;
}
